.warna-bg {
	background: linear-gradient(to right, rgba(91, 134, 229, .92), rgba(54, 209, 220, .92));
}

.jumbotron-bg {
	background-size: cover;
	background: "{{url_for ('static',filename='img/bg.jpg')}";
	background-size: 300px;
}

.info {
	text-align: center;
}

.berita1 {
	font-weight: bold;
}