<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for ('static',filename='style.css')}}">

    <title>Ayo Lawan | Portal Kesehatan</title>
  </head>
  <body>
  
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Ayo<b>Lawan</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('index')}}">Beranda <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('info')}}">Info Kesehatan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('profil')}}">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('kontak')}}">Kontak</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </header>

  <!-- Awal Jumbotron -->
    <section class="jumbotron-bg">
      
      <div class="jumbotron warna-bg text-white">
        <div class="container">
          <style type="text/css">
            .jumbotron-bg {
              background-size: cover;
	            background: "{{url_for ('static',filename='img/bg.jpg')}}";
	            background-size: 300px;
            }
            

          </style>
          
          <h1 class="display-4">Selamat Datang,</h1>
          <p class="lead"><b>Ayo Lawan</b> ingin menjadi sumber informasi Anda dalam membuat keputusan kesehatan dan agar Anda bisa selalu hidup sehat dan bahagia.</p>
          
        </div>
      </div>
      
    </section>
  <!-- Akhir Jumbotron -->
  <div class="info"><h1>Data Realtime Covid-19 di Indonesia</h1></div>
    
    <br>
  <!-- Awal Content -->
  {% for data in data_indo %}
    <div class="container">
      <div class="row">
        <div class="col-md-3 mb-2">
          <div class="card">
            <img src="{{url_for ('static',filename='img/img3.jpg')}}" class="card-img-top" alt="Gambar">
            <div class="card-body">
              <h6 class="card-title text-info">Positif : {{data.positif}}</h6>
              
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div class="card">
            <img src="{{url_for ('static',filename='img/mari.jpg')}}" class="card-img-top" alt="Gambar">
            <div class="card-body">
              <h6 class="card-title text-info">Sembuh : {{data.sembuh}}</h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div class="card">
            <img src="{{url_for ('static',filename='img/mati.jpg')}}" class="card-img-top" alt="Gambar">
            <div class="card-body">
              <h6 class="card-title text-info">Dirawat : {{data.dirawat}}</h6>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div class="card">
            <img src="{{url_for ('static',filename='img/sad.jpg')}}" class="card-img-top" alt="Gambar">
            <div class="card-body">
              <h6 class="card-title text-info">Meninggal : {{data.meninggal}}</h6>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  <!-- Akhir Content -->
  {% endfor %}
  


  <!-- Awal Jumbotron 2 -->
    <div class="jumbotron jumbotron-fluid bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="{{url_for ('static',filename='img/img.png')}}" class="img-thumbnail">
          </div>
          <div class="col-md-9">
            <h2>WEBSITE AYO LAWAN</h2>
            <p class="lead">AyoLawan adalah platform kesehatan yang selalu hadir memberikan tips dan informasi terbaru mengenai kesehatan.
              Disini Kamu dapat membaca berbagai artikel tentang kesehatan, mulai dari medis,gaya hidup sehat dan masih banyk lagi. Tak perlu takut Hoax
            , karena semua artikel ini berasal dari sumber terpercaya dan direview oleh pakar kesehatan 
              </p><br>
            <p class="lead">Sesuai dengan visi dan misi AyoLawan, platform kesehatan ini merupakan awal dari gerakan positif untuk mengajak masyarakat Indonesia menyadari jika sehat itu mudah. Yuk, jadi bagian dari visi ini!</p>
            
          </div>
        </div>
        
      </div>
    </div>
  <!-- Akhir Jumbotron 2 -->

  <!-- Awal Footer -->
    <footer class="warna-bg">
      <div class="text-white text-center pt-3 pb-3">
        Universitas Amikom Purwokerto - BPP
      </div>
    </footer>
  <!-- Akhir Footer -->







    <!-- Optional JavaScript -->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>