<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for ('static',filename='style.css')}}">

    <title>Ayo Lawan | Kontak</title>
  </head>
  <body>
  
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Ayo<b>Lawan</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('index')}}">Beranda <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('info')}}">Info Kesehatan</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('profil')}}">Profil</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('kontak')}}">Kontak</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </header>

  <!-- Awal Jumbotron -->
    <section class="jumbotron-bg">
      <div class="jumbotron warna-bg text-white">
        <div class="container">
          <h1 class="display-4">Kontak / Hubungi Kami</h1>
        </div>
      </div>
    </section>
  <!-- Akhir Jumbotron -->

  <!-- Awal Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 mb-4"><!-- Awal col-8 -->
          <div class="card">
            <div class="card-body">
              <div class="alert alert-success" role="alert">
                Punya saran, pertanyaan, masukan, kritik, atau menemukan bugs di website ini?
              </div>
              <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Input Email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="nama">Nama</label>
                    <input type="text" class="form-control" id="nama" placeholder="Input Nama">
                  </div>
                  <div class="form-group form-check">
                    </div>
                  <div class="form-group">
                    <label for="Alamat">Alamat</label>
                    <textarea class="form-control" rows="5"></textarea>
                  </div>


                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>
          </div>
        </div><!-- Akhir col-8 -->
        
        <div class="col-md-4 mb-4"><!-- Awal col-4 -->
          <div class="card mb-3">
            <div class="card-body bg-light">
              <h5>Ingin Selalu Update Tentang Kesehatan?</h5>
              <p>Dapatkan informasi dan tips eksklusif dari AyoLawan untuk membantumu mengetahui informasi kesehatan</p>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="*Nama">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="*Email">
                </div>
                <button class="btn btn-info">Ya, Saya Mau!</button>
              </form>
            </div>            
          </div>

          <!-- Awal tutorial terbaru -->
          <h5>Artikel Kesehatan Terbaru</h5>
          <div class="list-group">
              <a href="{{url_for('berita1')}}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">#1 - Tips Menjaga Tubuh Agar Tidak Gampang Sakit</h5>
                  
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Info Sehat</small>
              </a>
              <a href="{{url_for('berita2')}}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">#2 - Covid-19 dan Gejalanya</h5>
                  
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Covid-19</small>
              </a>
              <a href="{{url_for('berita3')}}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">#3 - 4 Cara Menjaga Kesehatan</h5>
                  <
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Info Sehat</small>
              </a>
            </div>
          <!-- Akhir Tutorial terbaru -->

        </div><!-- Akhir col-4 -->
        
      </div>
    </div>
  <!-- Akhir Content -->
  

  

  <!-- Awal Footer -->
    <footer class="warna-bg">
      <div class="text-white text-center pt-3 pb-3">
        Universitas Amikom Purwokerto - BPP
      </div>
    </footer>
  <!-- Akhir Footer -->







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>